body{
	background-color: #2C3E50;
	    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

p, h1, h2, h3, h4, h5, h6, div, span{
	font-family: 'Josefin Slab', serif;
	color: #fff;
}

h1{
	font-size: 48px;
	font-weight: 700;
}

p{
	font-size: 24px;
	font-weight: 300;
}	

.logo{
	height: 48px;
	margin-top: 10px;
	margin-right: 20px;
	float: left;
}
#mainTextDiv{
	margin-top: 20px;
	margin-bottom: 20px;
}

#mainText{
	resize: none;
	height: 60%;
}

.btn-grey { 
  color: #FFFFFF; 
  background-color: #95A5A6; 
  border-color: #7F8C8D; 
} 
 
.btn-grey:hover, 
.btn-grey:focus, 
.btn-grey:active, 
.btn-grey.active, 
.open .dropdown-toggle.btn-grey { 
  color: #FFFFFF; 
  background-color: #7F8C8D; 
  border-color: #7F8C8D; 
} 
 
.btn-grey:active, 
.btn-grey.active, 
.open .dropdown-toggle.btn-grey { 
  background-image: none; 
} 
 
.btn-grey.disabled, 
.btn-grey[disabled], 
fieldset[disabled] .btn-grey, 
.btn-grey.disabled:hover, 
.btn-grey[disabled]:hover, 
fieldset[disabled] .btn-grey:hover, 
.btn-grey.disabled:focus, 
.btn-grey[disabled]:focus, 
fieldset[disabled] .btn-grey:focus, 
.btn-grey.disabled:active, 
.btn-grey[disabled]:active, 
fieldset[disabled] .btn-grey:active, 
.btn-grey.disabled.active, 
.btn-grey[disabled].active, 
fieldset[disabled] .btn-grey.active { 
  background-color: #95A5A6; 
  border-color: #7F8C8D; 
} 
 
.btn-grey .badge { 
  color: #95A5A6; 
  background-color: #FFFFFF; 
}

@keyframes fadein {
    from { opacity: 0; margin-top: 100px; }
    to   { opacity: 1; margin-top: 0px;}
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; margin-top: 100px; }
    to   { opacity: 1; margin-top: 0px;}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; margin-top: 100px; }
    to   { opacity: 1; margin-top: 0px;}
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; margin-top: 100px; }
    to   { opacity: 1; margin-top: 0px;}
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; margin-top: 100px; }
    to   { opacity: 1; margin-top: 0px;}
}
#line-graph{
	height: 250px;
}
.alert-orange{
	color: #fff;
	background-color:#E67E22;
	border-color:#D35400;
}
.alert-red{
	color: #fff;
	background-color:#E74C2C;
	border-color:#C0392B;
}
.alert-turquoise{
	color: #fff;
	background-color:#1ABC9C;
	border-color:#16A085;
}
.alert-yellow{
	color: #fff;
	background-color:#F1C40F;
	border-color:#F39C12;
}
.alert-blue{
	color: #fff;
	background-color:#3498DB;
	border-color:#2980B9;
}
.alert-purple{
	color: #fff;
	background-color:#9B59B6;
	border-color:#8E44AD;
}

.back{
	margin-bottom: 20px;
}

.disappear{
	background: none;
	border: none;
	box-shadow: none;
	resize: none;
	color: #fff;
}