body{
	background-color: #2C3E50;
}

p, h1, h2, h3, h4, h5, h6{
	color: #fff;
}

#mainTextDiv{
	margin-top: 20px;
	margin-bottom: 20px;
}

#mainText{
	resize: none;
}

.btn-grey { 
  color: #FFFFFF; 
  background-color: #95A596; 
  border-color: #BDC3C7; 
} 
 
.btn-grey:hover, 
.btn-grey:focus, 
.btn-grey:active, 
.btn-grey.active, 
.open .dropdown-toggle.btn-grey { 
  color: #FFFFFF; 
  background-color: #ECF0F1; 
  border-color: #BDC3C7; 
} 
 
.btn-grey:active, 
.btn-grey.active, 
.open .dropdown-toggle.btn-grey { 
  background-image: none; 
} 
 
.btn-grey.disabled, 
.btn-grey[disabled], 
fieldset[disabled] .btn-grey, 
.btn-grey.disabled:hover, 
.btn-grey[disabled]:hover, 
fieldset[disabled] .btn-grey:hover, 
.btn-grey.disabled:focus, 
.btn-grey[disabled]:focus, 
fieldset[disabled] .btn-grey:focus, 
.btn-grey.disabled:active, 
.btn-grey[disabled]:active, 
fieldset[disabled] .btn-grey:active, 
.btn-grey.disabled.active, 
.btn-grey[disabled].active, 
fieldset[disabled] .btn-grey.active { 
  background-color: #95A596; 
  border-color: #BDC3C7; 
} 
 
.btn-grey .badge { 
  color: #95A596; 
  background-color: #FFFFFF; 
}