<div class="container">
	<div class="col-xs-12 back">
		<a ng-click="return()" class="btn btn-lg btn-grey"><i class="fa fa-arrow-left"></i>  Back</a>
	</div>

	<div class="col-md-6 col-xs-12 pull-right">
		<div class="col-xs-12">
			<linechart id="line-graph" data="emotions" options="options" mode=""></linechart>
		</div>
	</div>
	<div class="col-md-6 col-xs-12 scrollable">
		<div contenteditable="true" ng-repeat="sentence in sentenceArray" class="alert alert-{{sentence.max}}" ng-class="{'sentence-active': sentence.active}" role="alert">
			<textarea msd-elastic ng-model="sentence.value" ng-change="changeSentence($index)" class="form-control disappear"></textarea>
		</div>
	</div>
</div>