<div class="container">
	<div class="col-xs-12 back">
		<a ng-click="return()" class="btn btn-lg btn-grey"><i class="fa fa-arrow-left"></i>  Back</a>
	</div>

	<div class="col-md-6 col-xs-12 pull-right">
		<div class="col-xs-12 centerered">
			<linechart class="custom-graph" data="emotions" options="lineOptions" mode=""></linechart>
		</div>
		<div class="col-xs-12 centerered">
			<pie-chart class="custom-graph" id="pieChart" data="data" options="pieOptions"></pie-chart>
		</div>
	</div>
	<div class="col-md-6 col-xs-12 scrollable">
		<div ng-repeat="sentence in sentenceArray" class="alert alert-{{sentence.max}}" ng-class="{'sentence-active': sentence.active}" ng-click="changeActive($index)" role="alert">
			<textarea msd-elastic ng-model="sentence.value" ng-change="changeSentence($index)" ng-focus="changeActive($index)" class="form-control disappear"></textarea>
		</div>
	</div>
</div>